<footer>
  <div [@animateFooter]>
    <ul class="footer-left-bar d-none d-md-block">
      <li>
        <a href="https://github.com/rahil-patel-21" target="_blank">
          <i class="fab fa-github"></i>
        </a>
      </li>
      <li>
        <a href="https://www.linkedin.com/in/rahil-patel-21/" target="_blank">
          <i class="fab fa-linkedin-in"></i>
        </a>
      </li>
    </ul>
    <div class="footer-right-bar d-none d-md-block">
      <a href="mailto:rahil@artifica.in" target="_blank"
        >rahil@artifica.in
      </a>
    </div>
  </div>
</footer>
